streamlit
langchain
langchain-community
langchain-huggingface
langchain-google-genai
google-generativeai
sentence-transformers
faiss-cpu
tiktoken


# Install any additional libraries that may be required but are not already present on your device.
# Alternatively, Try installing from requirements2.txt (creating a virtual environment is recommended).